   <main class="page-content">
    <div class="container-fluid">
      <h2>Project Name</h2>
      <hr>
      <input class="input" name="text" placeholder="Search..." type="search">
      <br>

     
      <hr>
      <div class="row">
        <div class="col-md-8">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-3">          
          <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
            {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
            <div class="list-title px-3 py-1 mb-2">To do</div>
            <div class="task-single">
                <img src="https://picsum.photos/200/200" alt="">
                <div class="task-body px-2 py-2">
                    <div class="task-cap mb-2">
                        Task 1
                    </div>
                    <div class="task-ops">
                        Option
                    </div>
                </div>
            </div>
            <div class="btnAddTask px-3 py-1">
               <i class="fas fa-plus"></i> <span>Create Task</span>
            </div>
          </div>          
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-3">          
          <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
            {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
            <div class="list-title px-3 py-1 mb-2">On Progress</div>
            <div class="task-single">
                <img src="https://picsum.photos/200/200" alt="">
                <div class="task-body px-2 py-2">
                    <div class="task-cap mb-2">
                        Task 1
                    </div>
                    <div class="task-ops">
                        Option
                    </div>
                </div>
            </div>
            <div class="btnAddTask px-3 py-1">
               <i class="fas fa-plus"></i> <span>Create Task</span>
            </div>
          </div>          
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3  px-1 ml-2 mb-3">          
          <div style="background-color: #F4F5F7" class="card rounded-0 shadow-sm px-2 py-2">
            {{!-- <img src="https://user-images.githubusercontent.com/25878302/53659076-e2204680-3c5a-11e9-8c00-0c10bcd945e6.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar"> --}}
            <div class="list-title px-3 py-1 mb-2">Done</div>
            <div class="task-single">
                <img src="https://picsum.photos/200/200" alt="">
                <div class="task-body px-2 py-2">
                    <div class="task-cap mb-2">
                        Task 1
                    </div>
                    <div class="task-ops">
                        Option
                    </div>
                </div>
            </div>
            <div class="btnAddTask px-3 py-1">
               <i class="fas fa-plus"></i> <span>Create Task</span>
            </div>
          </div>          
        </div>
            </div>
        </div>
        <div class="task-info">
          <h4>Test Task 1</h4>
          
          <div class="link-issue my-3">
            <div class="interact"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach</div>
          <div class="interact"><i class="fa fa-plus" aria-hidden="true"></i> Add member</div>
          <div class="interact">...</div>
          </div>
          

          {{!-- Description Here --}}
          <div class="description-box mb-3"> 
            <span><strong>Description</strong></span>
            <br>
            <p>Note: to improve web accessibility, we recommend using aria-hidden="true" to hide icons used purely for decoration.</p>
          </div>


          {{!-- Attachment Here --}}
          <div class="attachment-box mb-3"> 
            <span><strong>Attachments (3)</strong></span>
            <br>
            <div class="task-single">
              <img src="https://picsum.photos/200/200" alt="">
              <div class="attach-info px-2 py-2">
                <span style="font-weight: 600">attach.png</span>
                <p class="mb-0">03/04/2023 19:00:00</p>
              </div>
            </div>
            <div class="task-single">
              <img src="https://picsum.photos/200/200" alt="">
              <div class="attach-info px-2 py-2">
                <span style="font-weight: 600">attach.png</span>
                <p class="mb-0">03/04/2023 19:00:00</p>
              </div>
            </div>
          </div>

          {{!-- Comments Here --}}
          <div class="comments-box mb-3"> 
            <span><strong>Comments</strong></span>
            <br>
            
        </div>
        
                
      </div>
    </div>

  </main>
   
   <script src="/javascript/sidebar.js"></script>